{% extends 'Admin/admin_home.html ' %}
{% block content %}


<!-- <div class="banner_bottom_agile_info">
	<div class="container"> -->
	   <div class="agile-contact-grids">
			<div class="agile-contact">
			<div class="col-md-6 contact-form">
				<h4 class="white-w3ls"> Add <span>Product </span></h4>
				<form action="/admin_add_product/" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					
					<div class="styled-input">
                          <input type="text" name="name"  required="" pattern="[A-Za-z\s]{1,30}" maxlength="30">
                            <label>Product Name:</label>
                        <span></span>
                        </div>
                        <label>Product Image:</label>
                        <span></span>
                        <div class="styled-input">
                            <input class="text" type="file" name="img" required="">
                        </div>
                        <br>
                        <div class="styled-input">
                            <input class="text" type="text" name="qty"  required="" pattern="[0-9]{1,5}" maxlength="5">
                            <label>Quantity:</label>
                        <span></span>
                        </div>
                        <div class="styled-input">
                            <input class="text" type="text" name="price"  required="" pattern="[0-9]{1,5}" maxlength="5">
                            <label>Price:</label>
                        <span></span>
                        </div>
                        <div class="styled-input">
                            <textarea name="details" required=""></textarea>
                            <label>Discription:</label>
                        <span></span>
                        </div>
                        <input type="submit" value="Submit">
				</form>
			</div>
		</div>
		<div class="clearfix"> </div>
			</div>
       <!-- </div>
	</div> -->

	

{% endblock %}